@font-face {
    font-family: 'Lato';
    src: url('./Lato-Regular.ttf');
} // requires a rule be set in config to match ttf etc, type asset/resource

.hello {
    color: red;
    font-family: 'Lato';
    background: url('./hello.jpg');
  }