* {
    font-family: sans-serif;
}

menu {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    padding: 1em;

    outline: 1px solid black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;

    opacity: 20%;
    z-index: 1;
}

menu:hover {
    opacity: 100%;
}

.sketchGrid {
    --r: 1;
    --c: 1;
    --cell: 20px;

    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(var(--c), var(--cell));
    grid-template-rows: repeat(var(--r), var(--cell));
    gap: 0px;
}

.cell {
    background-color: white;
}